<% task_list = locals[:task_list] %>

<ul>
  <% task_list.items.each do |item| %>
    <li class="item" item_id=<%= item.id %> >
      <span class="check">&#10003;</span>
      <span><%= item.value %></span>
      <span class="close">×</span>  
    </li>
  <% end %>
</ul>

<script>
  Forms.Items.CreateForm.Initialize("#item_new_form");
</script>