<form id="task_list_create_form" class="form-inline">
  <%= csrf_tag %>
  <div class="form-group">
    <input type="text" class="form-control" name="title" placeholder="TODO list title" value>
  </div>
  <button class="btn btn-primary">Create</button>
</form>

<script>
  Forms.TaskList.CreateForm.Initialize("#task_list_create_form");
</script>
