<% task_list = locals[:task_list] %>

<div>
  <%= task_list.title %>
  <%= erb(:"items/_new_form", :locals => { :task_list => task_list }) %> 
  <%= erb(:"items/_index", :locals => { :task_list => task_list }) %>
</div>